<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cctrace.dao.CompanyMapper">
	<resultMap id="BaseResultMap" type="com.cctrace.entity.Company">
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="companyName" jdbcType="VARCHAR" property="companyName" />
		<result column="address" jdbcType="VARCHAR" property="address" />
		<result column="companyPhone" jdbcType="VARCHAR" property="companyPhone" />
	</resultMap>

	<sql id="Base_Column_List">
		id , companyName , address , companyPhone
	</sql>
	
	<select id="selectCompanyById" parameterType="java.lang.Integer" resultType="com.cctrace.entity.Company">
		select <include refid="Base_Column_List"/> from company where id = #{id,jdbcType=INTEGER}
	</select>

	<select id="selectCompanyByCompanyName" parameterType="java.lang.String"
		resultType="com.cctrace.entity.Company">
		select
		<include refid="Base_Column_List" />
		from company
		where companyName = #{companyName,jdbcType=VARCHAR}
	</select>

	<select id="selectCompanyByCompanyPhone" parameterType="java.lang.String"
		resultType="com.cctrace.entity.Company">
		select
		<include refid="Base_Column_List" />
		from company
		where companyPhone = #{companyPhone,jdbcType=VARCHAR}
	</select>

	<delete id="deleteCompanyByCompanyName" parameterType="java.lang.String">
		delete
		from
		company
		where companyName = #{companyName,jdbcType=VARCHAR}
	</delete>

	<delete id="deleteCompanyByCompanyPhone">
		delete
		from
		company
		where companyPhone =
		#{companyPhone,jdbcType=VARCHAR}
	</delete>

	<delete id="deleteCompanyById" parameterType="java.lang.Integer">
		DELETE FROM company
		WHERE id = #{id}
	</delete>

	<insert id="insertCompany" parameterType="com.cctrace.entity.Company">
		insert into company
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="companyName != null">
				companyName,
			</if>
			<if test="address != null">
				address,
			</if>
			<if test="companyPhone != null">
				companyPhone,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="companyName != null">
				#{companyName,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				#{address,jdbcType=VARCHAR},
			</if>
			<if test="companyPhone != null">
				#{companyPhone,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	
	<!-- 该方法未使用 -->
	<update id="updateCompanyByCompanyName" parameterType="com.cctrace.entity.Company">
		update company
		<set>
			<if test="address != null">
				address = #{address,jdbcType=VARCHAR},
			</if>
			<if test="companyPhone != null">
				companyPhone = #{companyPhone,jdbcType=VARCHAR},
			</if>
		</set>
		where companyName = #{companyName,jdbcType=VARCHAR}
	</update>
	
	<!-- 该方法未使用 -->
	<update id="updateCompanyByCompanyPhone" parameterType="com.cctrace.entity.Company">
		update company
		<set>
			<if test="address != null">
				address = #{address,jdbcType=VARCHAR},
			</if>
			<if test="companyName != null">
				companyName = #{companyName,jdbcType=VARCHAR},
			</if>
		</set>
		where companyPhone = #{companyPhone,jdbcType=VARCHAR}
	</update>

	<update id="updateCompanyById" parameterType="com.cctrace.entity.Company">
		update company
		<set>
			<if test="companyName != null">
				companyName = #{companyName,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				address = #{address,jdbcType=VARCHAR},
			</if>
			<if test="companyPhone != null">
				companyPhone = #{companyPhone,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id}
	</update>

	<!-- 配置缓存 -->
	<!-- <cache eviction="FIFO" flushInterval="10000" size="128" readOnly="true" /> -->
</mapper>