<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cctrace.dao.ContainerMapper">
	<resultMap id="BaseResultMap" type="com.cctrace.entity.Container">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="containerId" jdbcType="VARCHAR" property="containerId" />
		<result column="registTime" jdbcType="VARCHAR" property="registTime" />
		<result column="registLongTime" jdbcType="BIGINT" property="registLongTime" />
		<result column="deviceId" jdbcType="VARCHAR" property="deviceId" />
		<result column="modifyDeviceTime" jdbcType="VARCHAR" property="modifyDeviceTime" />
		<result column="modifyDeviceLongTime" jdbcType="BIGINT"
			property="modifyDeviceLongTime" />
		<result column="minRefBatVol" jdbcType="DOUBLE" property="minRefBatVol" />
		<result column="maxRefBatVol" jdbcType="DOUBLE" property="maxRefBatVol" />
		<result column="minBackWindTemp" jdbcType="DOUBLE" property="minBackWindTemp" />
		<result column="maxBackWindTemp" jdbcType="DOUBLE" property="maxBackWindTemp" />
		<result column="minTankHum" jdbcType="DOUBLE" property="minTankHum" />
		<result column="maxTankHum" jdbcType="DOUBLE" property="maxTankHum" />
		<result column="minOilLevel" jdbcType="DOUBLE" property="minOilLevel" />
		<result column="maxOilLevel" jdbcType="DOUBLE" property="maxOilLevel" />
		<result column="minGpsBatVol" jdbcType="DOUBLE" property="minGpsBatVol" />
		<result column="maxGpsBatVol" jdbcType="DOUBLE" property="maxGpsBatVol" />
		<result column="minEnviTemp" jdbcType="DOUBLE" property="minEnviTemp" />
		<result column="maxEnviTemp" jdbcType="DOUBLE" property="maxEnviTemp" />
		<result column="minChuWindfTemp" jdbcType="DOUBLE" property="minChuWindTemp" />
		<result column="maxChuWindTemp" jdbcType="DOUBLE" property="maxChuWindTemp" />
		<result column="minCenBoxTemp" jdbcType="DOUBLE" property="minCenBoxTemp" />
		<result column="maxCenBoxTemp" jdbcType="DOUBLE" property="maxCenBoxTemp" />
		<result column="minTailBoxTemp" jdbcType="DOUBLE" property="minTailBoxTemp" />
		<result column="maxTailBoxTemp" jdbcType="DOUBLE" property="minTailBoxTemp" />
		<result column="remoteSwiMac" jdbcType="VARCHAR" property="remoteSwiMac" />
		<result column="setTemp" jdbcType="DOUBLE" property="setTemp" />
		<result column="bootDef" jdbcType="VARCHAR" property="bootDef" />
		<result column="clearAlert" jdbcType="VARCHAR" property="clearAlert" />
		<result column="selfCheck" jdbcType="VARCHAR" property="selfCheck" />
		<result column="refRunMode" jdbcType="VARCHAR" property="refRunMode" />
		<result column="companyId" jdbcType="INTEGER" property="companyId" />
		<result column="minCoilTemp" jdbcType="DOUBLE" property="minCoilTemp" />
		<result column="maxCoilTemp" jdbcType="DOUBLE" property="maxCoilTemp" />
		<result column="chillerType" property="chillerType" jdbcType="VARCHAR" />
		<result column="remoteXFSwiMac" jdbcType="VARCHAR" property="remoteXFSwiMac" />
		<result column="setCfm" jdbcType="VARCHAR" property="setCfm" />
		

	</resultMap>

	<sql id="Base_Column_List">
		id , containerId, registTime, registLongTime, deviceId,
		modifyDeviceTime, modifyDeviceLongTime , minRefBatVol, maxRefBatVol,
		minBackWindTemp,
		maxBackWindTemp,minTankHum, maxTankHum, minOilLevel,
		maxOilLevel, minGpsBatVol,
		maxGpsBatVol,
		minEnviTemp , maxEnviTemp ,
		minChuWindTemp , maxChuWindTemp ,
		minCenBoxTemp ,
		maxCenBoxTemp ,
		minTailBoxTemp , maxTailBoxTemp ,
		remoteSwiMac, setTemp,
		bootDef,
		clearAlert, selfCheck, refRunMode,
		newWindDoorMode,
		companyId,minCoilTemp,maxCoilTemp,chillerType,
		remoteXFSwiMac,setCfm
	</sql>

	<select id="selectContainersNoBinded" parameterType="java.lang.String"
		resultType="com.cctrace.entity.Container">
		select
		<include refid="Base_Column_List" />
		from container where containerId companyId=#{companyId} and
		containerId not in (select containerId from bindTable where
		companyId=#{companyId})
	</select>

	<select id="selectContainersByCompanyId" parameterType="java.lang.Integer"
		resultType="com.cctrace.entity.Container">
		select
		<include refid="Base_Column_List" />
		from container
		where companyId = #{companyId}
	</select>

	<select id="selectContainersByCompanyIdAndContainerIdLikeLy"
		parameterType="java.util.Map" resultType="com.cctrace.entity.Container">
		select
		<include refid="Base_Column_List" />
		from container
		where companyId = #{companyId}
		and containerId like
		concat('%',#{containerId},'%')
	</select>

	<select id="selecContainerByContainerId" parameterType="java.lang.String"
		resultType="com.cctrace.entity.Container">
		select
		<include refid="Base_Column_List" />
		from container
		where containerId = #{containeriId,jdbcType=VARCHAR}
	</select>

	<select id="selectContainerByDeviceId" parameterType="java.lang.String"
		resultType="com.cctrace.entity.Container">
		select
		<include refid="Base_Column_List" />
		from container
		where deviceId = #{deviceId,jdbcType=VARCHAR}
	</select>

	<select id="selectContainerIdByDeviceId" parameterType="java.lang.String"
		resultType="java.lang.String">
		select
		containerId
		from container
		where deviceId = #{deviceId,jdbcType=VARCHAR}
	</select>

	<delete id="deleteContainerById" parameterType="java.lang.Integer">
		delete
		from
		container
		where id = #{id}
	</delete>

	<delete id="deleteContainerByContainerId" parameterType="java.lang.String">
		delete
		from container
		where containerId = #{containerId,jdbcType=VARCHAR}
	</delete>

	<insert id="insertContainer" parameterType="com.cctrace.entity.Container">
		insert into container
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="containerId != null">
				containerId,
			</if>
			<if test="registTime != null">
				registTime,
			</if>
			<if test="registLongTime != null">
				registLongTime,
			</if>
			<if test="deviceId != null">
				deviceId,
			</if>
			<if test="modifyDeviceTime != null">
				modifyDeviceTime,
			</if>
			<if test="modifyDeviceLongTime != null">
				modifyDeviceLongTime,
			</if>
			<if test="minRefBatVol != null">
				minRefBatVol ,
			</if>
			<if test="maxRefBatVol != null">
				maxRefBatVol ,
			</if>
			<if test="minBackWindTemp != null">
				minBackWindTemp ,
			</if>
			<if test="maxBackWindTemp != null">
				maxBackWindTemp ,
			</if>
			<if test="minTankHum != null">
				minTankHum ,
			</if>
			<if test="maxTankHum != null">
				maxTankHum,
			</if>
			<if test="minOilLevel  != null">
				minOilLevel,
			</if>
			<if test="maxOilLevel != null">
				maxOilLevel,
			</if>
			<if test="minGpsBatVol != null">
				minGpsBatVol,
			</if>
			<if test="maxGpsBatVol != null">
				maxGpsBatVol ,
			</if>
			<if test="minEnviTemp != null">
				minEnviTemp ,
			</if>
			<if test="maxEnviTemp != null">
				maxEnviTemp ,
			</if>
			<if test="minChuWindTemp != null">
				minChuWindTemp ,
			</if>
			<if test="maxChuWindTemp != null">
				maxChuWindTemp ,
			</if>
			<if test="minCenBoxTemp != null">
				minCenBoxTemp ,
			</if>
			<if test="maxCenBoxTemp != null">
				maxCenBoxTemp ,
			</if>
			<if test="minTailBoxTemp != null">
				minTailBoxTemp ,
			</if>
			<if test="maxTailBoxTemp != null">
				maxTailBoxTemp ,
			</if>
			<if test="remoteSwiMac != null">
				remoteSwiMac ,
			</if>
			<if test="setTemp != null">
				setTemp ,
			</if>
			<if test="bootDef != null">
				bootDef ,
			</if>
			<if test="clearAlert != null">
				clearAlert ,
			</if>
			<if test="selfCheck != null">
				selfCheck ,
			</if>
			<if test="refRunMode != null">
				refRunMode,
			</if>
			<if test="newWindDoorMode != null">
				newWindDoorMode ,
			</if>
			<if test="companyId != null">
				companyId,
			</if>
			<if test="minCoilTemp != null">
				minCoilTemp ,
			</if>
			<if test="maxCoilTemp != null">
				maxCoilTemp,
			</if>
			<if test="chillerType != null">
				chillerType,
			</if>
			<if test="remoteXFSwiMac != null">
				remoteXFSwiMac ,
			</if>
			<if test="setCfm != null">
				setCfm ,
			</if>

		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="containerId != null">
				#{containerId,jdbcType=VARCHAR},
			</if>
			<if test="registTime != null">
				#{registTime,jdbcType=VARCHAR},
			</if>
			<if test="registLongTime != null">
				#{registLongTime,jdbcType=BIGINT},
			</if>
			<if test="deviceId != null">
				#{deviceId,jdbcType=VARCHAR},
			</if>
			<if test="modifyDeviceTime != null">
				#{modifyDeviceTime,jdbcType=VARCHAR},
			</if>
			<if test="modifyDeviceLongTime != null">
				#{modifyDeviceLongTime,jdbcType=BIGINT},
			</if>
			<if test="minRefBatVol != null">
				#{minRefBatVol},
			</if>
			<if test="maxRefBatVol != null">
				#{maxRefBatVol},
			</if>
			<if test="minBackWindTemp != null">
				#{minBackWindTemp},
			</if>
			<if test="maxBackWindTemp != null">
				#{maxBackWindTemp},
			</if>
			<if test="minTankHum != null">
				#{minTankHum},
			</if>
			<if test="maxTankHum != null">
				#{maxTankHum},
			</if>
			<if test="minOilLevel  != null">
				#{minOilLevel},
			</if>
			<if test="maxOilLevel != null">
				#{maxOilLevel},
			</if>
			<if test="minGpsBatVol != null">
				#{minGpsBatVol},
			</if>
			<if test="maxGpsBatVol != null">
				#{maxGpsBatVol},
			</if>
			<if test="minEnviTemp != null">
				#{minEnviTemp},
			</if>
			<if test="maxEnviTemp != null">
				#{maxEnviTemp},
			</if>
			<if test="minChuWindTemp != null">
				#{minChuWindTemp},
			</if>
			<if test="maxChuWindTemp != null">
				#{maxChuWindTemp},
			</if>
			<if test="minCenBoxTemp != null">
				#{minCenBoxTemp},
			</if>
			<if test="maxCenBoxTemp != null">
				#{maxCenBoxTemp},
			</if>
			<if test="minTailBoxTemp != null">
				#{minTailBoxTemp},
			</if>
			<if test="maxTailBoxTemp != null">
				#{maxTailBoxTemp},
			</if>
			<if test="remoteSwiMac != null">
				#{remoteSwiMac},
			</if>
			<if test="setTemp != null">
				#{setTemp},
			</if>
			<if test="bootDef != null">
				#{bootDef},
			</if>
			<if test="clearAlert != null">
				#{clearAlert},
			</if>
			<if test="selfCheck != null">
				#{selfCheck},
			</if>
			<if test="refRunMode != null">
				#{refRunMode},
			</if>
			<if test="newWindDoorMode != null">
				#{newWindDoorMode},
			</if>
			<if test="companyId != null">
				#{companyId},
			</if>
			<if test="minCoilTemp != null">
				#{minCoilTemp},
			</if>
			<if test="maxCoilTemp != null">
				#{maxCoilTemp},
			</if>
			<if test="chillerType != null">
				#{chillerType,jdbcType=VARCHAR},
			</if>
			<if test="remoteXFSwiMac != null">
				#{remoteXFSwiMac},
			</if>
			<if test="setCfm != null">
				#{setCfm},
			</if>

		</trim>
	</insert>

	<update id="updateContainerByContainerId" parameterType="com.cctrace.entity.Container">
		update container
		<set>
			<if test="registTime != null">
				registTime = #{registTime,jdbcType=VARCHAR},
			</if>
			<if test="registLongTime != null">
				registLongTime = #{registLongTime,jdbcType=BIGINT},
			</if>
			<if test="deviceId != null">
				deviceId = #{deviceId,jdbcType=VARCHAR},
			</if>
			<if test="modifyDeviceTime != null">
				modifyDeviceTime = #{modifyDeviceTime,jdbcType=VARCHAR},
			</if>
			<if test="modifyDeviceLongTime != null">
				modifyDeviceLongTime =
				#{modifyDeviceLongTime,jdbcType=BIGINT},
			</if>
			<if test="minRefBatVol != null">
				minRefBatVol = #{minRefBatVol},
			</if>
			<if test="maxRefBatVol != null">
				maxRefBatVol = #{maxRefBatVol},
			</if>
			<if test="minBackWindTemp != null">
				minBackWindTemp = #{minBackWindTemp},
			</if>
			<if test="maxBackWindTemp != null">
				maxBackWindTemp = #{maxBackWindTemp},
			</if>
			<if test="minTankHum != null">
				minTankHum = #{minTankHum},
			</if>
			<if test="maxTankHum != null">
				maxTankHum = #{maxTankHum},
			</if>
			<if test="minOilLevel  != null">
				minOilLevel = #{minOilLevel},
			</if>
			<if test="maxOilLevel != null">
				maxOilLevel = #{maxOilLevel},
			</if>
			<if test="minGpsBatVol != null">
				minGpsBatVol = #{minGpsBatVol},
			</if>
			<if test="maxGpsBatVol != null">
				maxGpsBatVol = #{maxGpsBatVol},
			</if>

			<if test="remoteSwiMac != null">
				remoteSwiMac = #{remoteSwiMac},
			</if>
			<if test="remoteXFSwiMac != null">
				remoteXFSwiMac = #{remoteXFSwiMac},
			</if>


			<if test="minEnviTemp != null">
				minEnviTemp = #{minEnviTemp} ,
			</if>
			<if test="maxEnviTemp != null">
				maxEnviTemp = #{maxEnviTemp},
			</if>
			<if test="minChuWindTemp != null">
				minChuWindTemp = #{minChuWindTemp} ,
			</if>
			<if test="maxChuWindTemp != null">
				maxChuWindTemp = #{maxChuWindTemp},
			</if>
			<if test="minCenBoxTemp != null">
				minCenBoxTemp = #{minCenBoxTemp},
			</if>
			<if test="maxCenBoxTemp != null">
				maxCenBoxTemp = #{maxCenBoxTemp},
			</if>
			<if test="minTailBoxTemp != null">
				minTailBoxTemp = #{minTailBoxTemp} ,
			</if>
			<if test="maxTailBoxTemp != null">
				maxTailBoxTemp = #{maxTailBoxTemp},
			</if>

			<if test="setTemp != null">
				setTemp = #{setTemp},
			</if>
			<if test="bootDef != null">
				bootDef = #{bootDef},
			</if>
			<if test="clearAlert != null">
				clearAlert = #{clearAlert},
			</if>
			<if test="selfCheck != null">
				selfCheck = #{selfCheck},
			</if>
			<if test="refRunMode != null">
				refRunMode = #{refRunMode},
			</if>
			<if test="newWindDoorMode != null">
				newWindDoorMode = #{newWindDoorMode},
			</if>
			<if test="companyId != null">
				companyId = #{companyId},
			</if>

			<if test="minCoilTemp != null">
				minCoilTemp = #{minCoilTemp},
			</if>
			<if test="maxCoilTemp != null">
				maxCoilTemp = #{maxCoilTemp},
			</if>
			<if test="chillerType != null">
				chillerType = #{chillerType,jdbcType=VARCHAR},
			</if>
			<if test="setCfm != null">
				setCfm = #{setCfm},
			</if>

		</set>
		where containerId = #{containerId,jdbcType=VARCHAR}
	</update>

	<update id="updateContainerById" parameterType="com.cctrace.entity.Container">
		update container
		<set>
			<if test="containerId != null">
				containerId = #{containerId,jdbcType=VARCHAR},
			</if>
			<if test="registTime != null">
				registTime = #{registTime,jdbcType=VARCHAR},
			</if>
			<if test="registLongTime != null">
				registLongTime = #{registLongTime,jdbcType=BIGINT},
			</if>
			<if test="deviceId != null">
				deviceId = #{deviceId,jdbcType=VARCHAR},
			</if>
			<if test="modifyDeviceTime != null">
				modifyDeviceTime = #{modifyDeviceTime,jdbcType=VARCHAR},
			</if>
			<if test="modifyDeviceLongTime != null">
				modifyDeviceLongTime =
				#{modifyDeviceLongTime,jdbcType=BIGINT},
			</if>
			<if test="minRefBatVol != null">
				minRefBatVol = #{minRefBatVol},
			</if>
			<if test="maxRefBatVol != null">
				maxRefBatVol = #{maxRefBatVol},
			</if>
			<if test="minBackWindTemp != null">
				minBackWindTemp = #{minBackWindTemp},
			</if>
			<if test="maxBackWindTemp != null">
				maxBackWindTemp = #{maxBackWindTemp},
			</if>
			<if test="minTankHum != null">
				minTankHum = #{minTankHum},
			</if>
			<if test="maxTankHum != null">
				maxTankHum = #{maxTankHum},
			</if>
			<if test="minOilLevel  != null">
				minOilLevel = #{minOilLevel},
			</if>
			<if test="maxOilLevel != null">
				maxOilLevel = #{maxOilLevel},
			</if>
			<if test="minGpsBatVol != null">
				minGpsBatVol = #{minGpsBatVol},
			</if>
			<if test="maxGpsBatVol != null">
				maxGpsBatVol = #{maxGpsBatVol},
			</if>
			<if test="minEnviTemp != null">
				minEnviTemp = #{minEnviTemp},
			</if>
			<if test="maxEnviTemp != null">
				maxEnviTemp = #{maxEnviTemp},
			</if>
			<if test="minChuWindTemp != null">
				minChuWindTemp = #{minChuWindTemp},
			</if>
			<if test="maxChuWindTemp != null">
				maxChuWindTemp = #{maxChuWindTemp},
			</if>
			<if test="minCenBoxTemp != null">
				minCenBoxTemp = #{minCenBoxTemp},
			</if>
			<if test="maxCenBoxTemp != null">
				maxCenBoxTemp = #{maxCenBoxTemp},
			</if>
			<if test="minTailBoxTemp != null">
				minTailBoxTemp = #{minTailBoxTemp},
			</if>
			<if test="maxTailBoxTemp != null">
				maxTailBoxTemp = #{maxTailBoxTemp},
			</if>
			<if test="remoteSwiMac != null">
				remoteSwiMac = #{remoteSwiMac},
			</if>
			<if test="setTemp != null">
				setTemp = #{setTemp},
			</if>
			<if test="bootDef != null">
				bootDef = #{bootDef},
			</if>
			<if test="clearAlert != null">
				clearAlert = #{clearAlert},
			</if>
			<if test="selfCheck != null">
				selfCheck = #{selfCheck},
			</if>
			<if test="refRunMode != null">
				refRunMode = #{refRunMode},
			</if>
			<if test="newWindDoorMode != null">
				newWindDoorMode = #{newWindDoorMode},
			</if>
			<if test="companyId != null">
				companyId = #{companyId},
			</if>
			<if test="minCoilTemp != null">
				minCoilTemp = #{minCoilTemp},
			</if>
			<if test="maxCoilTemp != null">
				maxCoilTemp = #{maxCoilTemp},
			</if>
			<if test="chillerType != null">
				chillerType = #{chillerType},
			</if>
			<if test="remoteXFSwiMac != null">
				remoteXFSwiMac = #{remoteXFSwiMac},
			</if>
			<if test="setCfm != null">
				setCfm = #{setCfm},
			</if>
		</set>
		where id = #{id}
	</update>

	<!-- 模糊查询冷藏箱信息 在硬件模块 -->
	<select id="selectContainersLikeyInHard" parameterType="java.lang.String"
		resultType="com.cctrace.entity.Container">
		SELECT chillerType,containerId,deviceId FROM container
		WHERE containerId LIKE
		CONCAT('%',#{containerId},'%')
	</select>
	<!-- 模糊查询在PC冷藏箱模块 -->
	<select id="selectContainersLikeyInPCContainer" parameterType="java.lang.String" resultType="com.cctrace.entity.Container">
		select 
		<include refid="Base_Column_List" /> from container
		where containerId like concat('%',#{containerId},'%')
	</select>
	
	<!-- 模糊查询在PC冷藏箱模块 用户的模糊查询-->
	<select id="selectContainersLikeyInPCContainerWithCompany" parameterType="java.util.Map" resultType="com.cctrace.entity.Container">
		select 
		<include refid="Base_Column_List" /> from container
		where containerId like concat('%',#{containerId},'%') and companyId = #{companyId}
	</select>

	<!-- 配置缓存 -->
<!-- 	<cache eviction="FIFO" flushInterval="10000" size="128" readOnly="true" /> -->
</mapper>