<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cctrace.dao.LogMapper">
	<resultMap id="BaseResultMap" type="com.cctrace.entity.Log">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="operator" jdbcType="VARCHAR" property="operator" />
		<result column="operatorTime" jdbcType="VARCHAR" property="operatorTime" />
		<result column="operatorLongTime" jdbcType="BIGINT" property="operatorLongTime" />
		<result column="operatorParams" jdbcType="VARCHAR" property="operatorParams"/>
		<result column="companyId"  jdbcType="INTEGER" property="companyId"/>
		<result column="content" jdbcType="VARCHAR" property="content" />
	</resultMap>
	<!-- 联合查询 -->
	<resultMap id="WithAliasResultMap" type="com.cctrace.entity.Log">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="operator" jdbcType="VARCHAR" property="operator" />
		<result column="operatorTime" jdbcType="VARCHAR" property="operatorTime" />
		<result column="operatorLongTime" jdbcType="BIGINT" property="operatorLongTime" />
		<result column="operatorParams" jdbcType="VARCHAR" property="operatorParams"/>
		<result column="companyId"  jdbcType="INTEGER" property="companyId"/>
		<result column="content" jdbcType="VARCHAR" property="content" />
		 <!-- 指定联合查询出的操作信息字段的封装 -->
	    <association property="oinfo" javaType="com.cctrace.entity.Oinfo">
	    	<id column="oinfo_id" jdbcType="INTEGER" property="oinfoId"></id>
			<result column="oinfo_content" jdbcType="VARCHAR" property="oinfoContent"/>
			<result column="oinfo_alias" jdbcType="VARCHAR" property="oinfoAlias"/>
	    </association>
	</resultMap>

	<sql id="Base_Column_List">
		id, operator, operatorTime, operatorLongTime, operatorParams,companyId,content
	</sql>
	<!-- 联合查询 -->
	<sql id="WithOinfo_Column_List">
		l.id, l.operator, l.operatorTime, l.operatorLongTime, l.operatorParams,l.companyId,l.content,o.oinfo_id,o.oinfo_content,o.oinfo_alias
	</sql>

	<select id="selectAllLogsByOperator" parameterType="java.lang.String" resultType="com.cctrace.entity.Log">
		select <include refid="Base_Column_List"/> from log 
		where operator = #{operator} 
	</select>

	<select id="selectLogById" parameterType="java.lang.Integer"
		resultType="com.cctrace.entity.Log">
		select
		<include refid="Base_Column_List" />
		from log
		where id = #{id,jdbcType=INTEGER}
	</select>
	
	<select id="selectLogsByOperatorBetweenTowTimes" parameterType="java.util.Map" resultType="com.cctrace.entity.Log">
		select
		<include refid="Base_Column_List"/>
		from log
		where operator = #{operator}
		and operatorLongTime between 
		#{start} and #{end}
	</select>
		<select id="selectLogsByBetweenTowTimes" parameterType="java.util.Map" resultType="com.cctrace.entity.Log">
		select
		<include refid="Base_Column_List"/>
		from log
		where operatorLongTime between 
		#{start} and #{end}
	</select>
	<!-- 联合查询  -->
	<select id="selectLogsWithOinfoByBetweenTowTimes" resultMap="WithAliasResultMap">
   	select 
    <include refid="WithOinfo_Column_List" />
    FROM log l
	right join operatorinfo o on l.`content`=o.`oinfo_content`
    where operatorLongTime between 
	#{start} and #{end}
	order by operatorLongTime desc
  	</select>
  

	<delete id="deleteLogById" parameterType="java.lang.Integer">
		delete from log
		where id = #{id,jdbcType=INTEGER}
	</delete>

	<insert id="insertLog" parameterType="com.cctrace.entity.Log">
		insert into log
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="operator != null">
				operator,
			</if>
			<if test="operatorTime != null">
				operatorTime,
			</if>
			<if test="operatorLongTime != null">
				operatorLongTime,
			</if>
			<if test="operatorParams != null">
				operatorParams ,
			</if>
				<if test="companyId != null">
				companyId ,
			</if>
			<if test="content != null">
				content,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="operator != null">
				#{operator,jdbcType=VARCHAR},
			</if>
			<if test="operatorTime != null">
				#{operatorTime,jdbcType=VARCHAR},
			</if>
			<if test="operatorLongTime != null">
				#{operatorLongTime,jdbcType=BIGINT},
			</if>
			<if test="operatorParams != null">
				#{operatorParams,jdbcType=VARCHAR},
			</if>
			<if test="companyId != null">
				#{companyId,jdbcType=INTEGER},
			</if>
			<if test="content != null">
				#{content},
			</if>
		</trim>
	</insert>

	<update id="updateLogById" parameterType="com.cctrace.entity.Log">
		update log
		<set>
			<if test="operator != null">
				operator = #{operator,jdbcType=VARCHAR},
			</if>
			<if test="operatorTime != null">
				operatorTime = #{operatorTime,jdbcType=VARCHAR},
			</if>
			<if test="operatorLongTime != null">
				operatorLongTime = #{operatorLongTime,jdbcType=BIGINT},
			</if>
			<if test="operatorParams != null">
				operatorParams = #{operatorParams},
			</if>
			<if test="companyId != null">
				companyId = #{companyId},
			</if>
			<if test="content != null">
				content = #{content,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>

	<!-- 配置缓存 -->
	<cache eviction="FIFO" flushInterval="10000" size="128" readOnly="true" />
</mapper>