<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cctrace.dao.OurCcdataMapper">
	<resultMap id="BaseResultMap" type="com.cctrace.entity.OurCcdata">
		<id column="id" property="id" jdbcType="INTEGER" />
	    <result column="containerId" property="containerId" jdbcType="VARCHAR" />
	    <result column="deviceId" property="deviceId" jdbcType="VARCHAR" />
	    <result column="oilTemp" property="oilTemp" jdbcType="DOUBLE" />
	    <result column="boxHum" property="boxHum" jdbcType="DOUBLE" />
	    <result column="tailBoxTemp" property="tailBoxTemp" jdbcType="DOUBLE" />
	    <result column="gpsPower" property="gpsPower" jdbcType="DOUBLE" />
	    <result column="oilLevel" property="oilLevel" jdbcType="DOUBLE" />
	    <result column="lat" property="lat" jdbcType="DOUBLE" />
	    <result column="lon" property="lon" jdbcType="DOUBLE" />
	    <result column="receiveTime" property="receiveTime" jdbcType="VARCHAR" />
	    <result column="receiveLongTime" property="receiveLongTime" jdbcType="BIGINT" />
	    <result column="companyId" property="companyId" jdbcType="INTEGER" />
	    <result column="nowTime" property="nowTime" jdbcType="VARCHAR" />
	    <result column="nowLongTime" property="nowLongTime" jdbcType="BIGINT" />
	    <result column="minoilTemp" property="minoilTemp" jdbcType="VARCHAR" />
	    <result column="maxoilTemp" property="maxoilTemp" jdbcType="VARCHAR" />
	    <result column="minboxHum" property="minboxHum" jdbcType="VARCHAR" />
	    <result column="maxboxHum" property="maxboxHum" jdbcType="VARCHAR" />
	    <result column="mintailBoxTemp" property="mintailBoxTemp" jdbcType="VARCHAR" />
	    <result column="maxtailBoxTemp" property="maxtailBoxTemp" jdbcType="VARCHAR" />
	    <result column="mingpsPower" property="mingpsPower" jdbcType="VARCHAR" />
	    <result column="maxgpsPower" property="maxgpsPower" jdbcType="VARCHAR" />
	    <result column="minoilLevel" property="minoilLevel" jdbcType="VARCHAR" />
	    <result column="maxoilLevel" property="maxoilLevel" jdbcType="VARCHAR" />
	    <result column="chillerType" property="chillerType" jdbcType="VARCHAR" />
	    <result column="backDoorState" property="backDoorState" jdbcType="VARCHAR" />
	    <result column="gpsPosition" property="gpsPosition" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
 	id, containerId, deviceId, oilTemp, boxHum, tailBoxTemp, gpsPower, oilLevel, lat, 
    lon, receiveTime, receiveLongTime, companyId, nowTime, nowLongTime, minoilTemp, maxoilTemp, 
    minboxHum, maxboxHum, mintailBoxTemp, maxtailBoxTemp, mingpsPower, maxgpsPower, 
    minoilLevel, maxoilLevel, chillerType,backDoorState,gpsPosition
	</sql>
	
	<select id="selectOurCcdataById" parameterType="java.lang.Integer"
		resultType="com.cctrace.entity.OurCcdata">
		select
		<include refid="Base_Column_List" />
		from ourccdata
		where id = #{id,jdbcType=INTEGER}
	</select>

	<select id="selectOurCcdatasBycompanyId" parameterType="java.lang.Integer"
		resultType="com.cctrace.entity.OurCcdata">
		select
		<include refid="Base_Column_List" />
		from ourccdata
		where companyId = #{companyId,jdbcType=INTEGER}
	</select>

	<select id="selectLastOurCcdataByContainerId" parameterType="java.lang.String"
		resultType="com.cctrace.entity.OurCcdata">
		SELECT
		<include refid="Base_Column_List" />
		FROM ourccdata
		where containerId = #{containerId}
		ORDER BY nowTime DESC
		LIMIT 0 ,1
	</select>

	<select id="selectOurCcdataByDeviceId" parameterType="java.lang.String"
		resultType="com.cctrace.entity.OurCcdata">
		select
		<include refid="Base_Column_List" />
		from ourccdata
		where deviceId = #{deviceId,jdbcType=VARCHAR}
		ORDER BY id DESC
		LIMIT 0 ,1
	</select>
	
	<select id="selectOurCcdataBycontainerId" parameterType="java.lang.String"
		resultType="com.cctrace.entity.OurCcdata">
		select
		*
		from ourccdata
		where containerId = #{containerId,jdbcType=VARCHAR}
		ORDER BY nowLongTime DESC
		LIMIT 0 ,1
	</select>


	<select id="selectOurMaxGpsLongTimeAndDeviceIdByCompanyAndDeviceId"
		parameterType="java.lang.Integer" resultType="java.util.Map">
		select
		max(nowLongTime) as
		nowLongTime,t.deviceId from(
		select nowLongTime,deviceId,companyId from
		ourccdata group by companyId ,
		deviceId , nowLongTime) t group by
		companyId,deviceId
		having companyId = #{companyId}
	</select>
	
	<!-- *********************************************************************** -->
	<!-- *********************************************************************** -->
	<!-- *********************************************************************** -->
	<select id="selectOurLastCcdataByGpsLongTimeAndDeviceMap"
		parameterType="java.util.Map" resultType="com.cctrace.entity.OurCcdata">
		select
		<include refid="Base_Column_List" />
		<!-- 此处????????????????????????????????????????// -->
		from ourccdata where nowLongTime = #{nowLongTime} and deviceId = #{deviceId}
	</select>
	
	
	<!-- 模糊查询 -->
	<select id="selectOurMaxGpsLongTimeAndDeviceIdByCompanyAndDeviceIdLikely"
		parameterType="java.util.Map" resultType="java.util.Map">
		select
		max(nowLongTime) as
		maxgps,containerId 
		from ourccdata
		where  companyId = #{companyId} and containerId like concat('%',#{containerId},'%')
		group by containerId
	</select>
	
	<!-- *********************************************************************** -->
	<!-- *********************************************************************** -->
	<!-- *********************************************************************** -->
	<select id="selectOurLastCcdataByGpsLongTimeAndDeviceMapLikely"
		parameterType="java.util.Map" resultType="com.cctrace.entity.OurCcdata">
		select
		<include refid="Base_Column_List" />
		from ourccdata where nowLongTime = #{nowLongTime} and containerId = #{containerId}
	</select>
	
	<!-- 查询倒序 -->
	<select id="selectOurCcdatasByContainerIdBetweenTowTime" parameterType="java.util.Map"
		resultType="com.cctrace.entity.OurCcdata">
		select
		<include refid="Base_Column_List" />
		from ourccdata where containerId = #{containerId} and
		nowLongTime between
		#{start} and #{end}
		order by nowTime desc
	</select>
	<!-- 查询正序 -->
	<select id="selectOurCcdatasByContainerIdBetweenTowTimeASC" parameterType="java.util.Map"
		resultType="com.cctrace.entity.OurCcdata">
		select
		<include refid="Base_Column_List" />
		from ourccdata where containerId = #{containerId} and
		nowLongTime between
		#{start} and #{end}
		order by nowTime asc
	</select>

	<select id="selectOurCcdatasByDeviceIdBetweenTwoTime"
		parameterType="com.cctrace.entity.DevAndTimeDiff" resultType="com.cctrace.entity.OurCcdata">
		select
		<include refid="Base_Column_List" />
		from ourccdata where deviceId = #{deviceId} and receiveLongTime between
		#{start} and #{end}
	</select>

	<delete id="deleteOurCcdataById" parameterType="java.lang.Integer">
		delete from ourccdata
		where id = #{id,jdbcType=INTEGER}
	</delete>

	<delete id="deleteOurCcdatasByContainerId" parameterType="java.lang.String">
		delete from ourccdata
		where containerId = #{containerId,jdbcType=VARCHAR}
	</delete>

	<insert id="insertOurCcdata" parameterType="com.cctrace.entity.OurCcdata">
		 insert into ourccdata
	    <trim prefix="(" suffix=")" suffixOverrides="," >
	      <if test="id != null" >
	        id,
	      </if>
	      <if test="containerId != null" >
	        containerId,
	      </if>
	      <if test="deviceId != null" >
	        deviceId,
	      </if>
	      <if test="oilTemp != null" >
	        oilTemp,
	      </if>
	      <if test="boxHum != null" >
	        boxHum,
	      </if>
	      <if test="tailBoxTemp != null" >
	        tailBoxTemp,
	      </if>
	      <if test="gpsPower != null" >
	        gpsPower,
	      </if>
	      <if test="oilLevel != null" >
	        oilLevel,
	      </if>
	      <if test="lat != null" >
	        lat,
	      </if>
	      <if test="lon != null" >
	        lon,
	      </if>
	      <if test="receiveTime != null" >
	        receiveTime,
	      </if>
	      <if test="receiveLongTime != null" >
	        receiveLongTime,
	      </if>
	      <if test="companyId != null" >
	        companyId,
	      </if>
	      <if test="nowTime != null" >
	        nowTime,
	      </if>
	      <if test="nowLongTime != null" >
	        nowLongTime,
	      </if>
	      <if test="minoilTemp != null" >
	        minoilTemp,
	      </if>
	      <if test="maxoilTemp != null" >
	        maxoilTemp,
	      </if>
	      <if test="minboxHum != null" >
	        minboxHum,
	      </if>
	      <if test="maxboxHum != null" >
	        maxboxHum,
	      </if>
	      <if test="mintailBoxTemp != null" >
	        mintailBoxTemp,
	      </if>
	      <if test="maxtailBoxTemp != null" >
	        maxtailBoxTemp,
	      </if>
	      <if test="mingpsPower != null" >
	        mingpsPower,
	      </if>
	      <if test="maxgpsPower != null" >
	        maxgpsPower,
	      </if>
	      <if test="minoilLevel != null" >
	        minoilLevel,
	      </if>
	      <if test="maxoilLevel != null" >
	        maxoilLevel,
	      </if>
	      <if test="chillerType != null" >
	        chillerType,
	      </if>
	      <if test="backDoorState != null" >
	        backDoorState,
	      </if>
	      <if test="gpsPosition != null" >
	        gpsPosition,
	      </if>
	      
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides="," >
	      <if test="id != null" >
	        #{id,jdbcType=INTEGER},
	      </if>
	      <if test="containerId != null" >
	        #{containerId,jdbcType=VARCHAR},
	      </if>
	      <if test="deviceId != null" >
	        #{deviceId,jdbcType=VARCHAR},
	      </if>
	      <if test="oilTemp != null" >
	        #{oilTemp,jdbcType=DOUBLE},
	      </if>
	      <if test="boxHum != null" >
	        #{boxHum,jdbcType=DOUBLE},
	      </if>
	      <if test="tailBoxTemp != null" >
	        #{tailBoxTemp,jdbcType=DOUBLE},
	      </if>
	      <if test="gpsPower != null" >
	        #{gpsPower,jdbcType=DOUBLE},
	      </if>
	      <if test="oilLevel != null" >
	        #{oilLevel,jdbcType=DOUBLE},
	      </if>
	      <if test="lat != null" >
	        #{lat,jdbcType=DOUBLE},
	      </if>
	      <if test="lon != null" >
	        #{lon,jdbcType=DOUBLE},
	      </if>
	      <if test="receiveTime != null" >
	        #{receiveTime,jdbcType=VARCHAR},
	      </if>
	      <if test="receiveLongTime != null" >
	        #{receiveLongTime,jdbcType=BIGINT},
	      </if>
	      <if test="companyId != null" >
	        #{companyId,jdbcType=INTEGER},
	      </if>
	      <if test="nowTime != null" >
	        #{nowTime,jdbcType=VARCHAR},
	      </if>
	      <if test="nowLongTime != null" >
	        #{nowLongTime,jdbcType=BIGINT},
	      </if>
	      <if test="minoilTemp != null" >
	        #{minoilTemp,jdbcType=VARCHAR},
	      </if>
	      <if test="maxoilTemp != null" >
	        #{maxoilTemp,jdbcType=VARCHAR},
	      </if>
	      <if test="minboxHum != null" >
	        #{minboxHum,jdbcType=VARCHAR},
	      </if>
	      <if test="maxboxHum != null" >
	        #{maxboxHum,jdbcType=VARCHAR},
	      </if>
	      <if test="mintailBoxTemp != null" >
	        #{mintailBoxTemp,jdbcType=VARCHAR},
	      </if>
	      <if test="maxtailBoxTemp != null" >
	        #{maxtailBoxTemp,jdbcType=VARCHAR},
	      </if>
	      <if test="mingpsPower != null" >
	        #{mingpsPower,jdbcType=VARCHAR},
	      </if>
	      <if test="maxgpsPower != null" >
	        #{maxgpsPower,jdbcType=VARCHAR},
	      </if>
	      <if test="minoilLevel != null" >
	        #{minoilLevel,jdbcType=VARCHAR},
	      </if>
	      <if test="maxoilLevel != null" >
	        #{maxoilLevel,jdbcType=VARCHAR},
	      </if>
	      <if test="chillerType != null" >
	        #{chillerType,jdbcType=VARCHAR},
	      </if>
	       <if test="backDoorState != null" >
	        #{backDoorState,jdbcType=VARCHAR},
	      </if>
	       <if test="gpsPosition != null" >
	        #{gpsPosition,jdbcType=VARCHAR},
	      </if>
	      
	    </trim>
	  </insert>


	<update id="updateOurCcdataBycontainerId" parameterType="com.cctrace.entity.OurCcdata">
		 update ourccdata
     <set >
      <if test="containerId != null" >
        containerId = #{containerId,jdbcType=VARCHAR},
      </if>
      <if test="deviceId != null" >
        deviceId = #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="oilTemp != null" >
        oilTemp = #{oilTemp,jdbcType=DOUBLE},
      </if>
      <if test="boxHum != null" >
        boxHum = #{boxHum,jdbcType=DOUBLE},
      </if>
      <if test="tailBoxTemp != null" >
        tailBoxTemp = #{tailBoxTemp,jdbcType=DOUBLE},
      </if>
      <if test="gpsPower != null" >
        gpsPower = #{gpsPower,jdbcType=DOUBLE},
      </if>
      <if test="oilLevel != null" >
        oilLevel = #{oilLevel,jdbcType=DOUBLE},
      </if>
      <if test="lat != null" >
        lat = #{lat,jdbcType=DOUBLE},
      </if>
      <if test="lon != null" >
        lon = #{lon,jdbcType=DOUBLE},
      </if>
      <if test="receiveTime != null" >
        receiveTime = #{receiveTime,jdbcType=VARCHAR},
      </if>
      <if test="receiveLongTime != null" >
        receiveLongTime = #{receiveLongTime,jdbcType=BIGINT},
      </if>
      <if test="companyId != null" >
        companyId = #{companyId,jdbcType=INTEGER},
      </if>
      <if test="nowTime != null" >
        nowTime = #{nowTime,jdbcType=VARCHAR},
      </if>
      <if test="nowLongTime != null" >
        nowLongTime = #{nowLongTime,jdbcType=BIGINT},
      </if>
      <if test="minoilTemp != null" >
        minoilTemp = #{minoilTemp,jdbcType=VARCHAR},
      </if>
      <if test="maxoilTemp != null" >
        maxoilTemp = #{maxoilTemp,jdbcType=VARCHAR},
      </if>
      <if test="minboxHum != null" >
        minboxHum = #{minboxHum,jdbcType=VARCHAR},
      </if>
      <if test="maxboxHum != null" >
        maxboxHum = #{maxboxHum,jdbcType=VARCHAR},
      </if>
      <if test="mintailBoxTemp != null" >
        mintailBoxTemp = #{mintailBoxTemp,jdbcType=VARCHAR},
      </if>
      <if test="maxtailBoxTemp != null" >
        maxtailBoxTemp = #{maxtailBoxTemp,jdbcType=VARCHAR},
      </if>
      <if test="mingpsPower != null" >
        mingpsPower = #{mingpsPower,jdbcType=VARCHAR},
      </if>
      <if test="maxgpsPower != null" >
        maxgpsPower = #{maxgpsPower,jdbcType=VARCHAR},
      </if>
      <if test="minoilLevel != null" >
        minoilLevel = #{minoilLevel,jdbcType=VARCHAR},
      </if>
      <if test="maxoilLevel != null" >
        maxoilLevel = #{maxoilLevel,jdbcType=VARCHAR},
      </if>
      <if test="chillerType != null" >
        chillerType = #{chillerType,jdbcType=VARCHAR},
      </if>
       <if test="backDoorState != null" >
        backDoorState = #{backDoorState,jdbcType=VARCHAR},
      </if>
      <if test="gpsPosition != null" >
        gpsPosition = #{gpsPosition,jdbcType=VARCHAR},
      </if>
      
    </set>
		where containerId = #{containerId,jdbcType=VARCHAR}
	</update>





	<update id="updateOurCcdataById" parameterType="com.cctrace.entity.OurCcdata">
		 update ourccdata
     <set >
      <if test="containerId != null" >
        containerId = #{containerId,jdbcType=VARCHAR},
      </if>
      <if test="deviceId != null" >
        deviceId = #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="oilTemp != null" >
        oilTemp = #{oilTemp,jdbcType=DOUBLE},
      </if>
      <if test="boxHum != null" >
        boxHum = #{boxHum,jdbcType=DOUBLE},
      </if>
      <if test="tailBoxTemp != null" >
        tailBoxTemp = #{tailBoxTemp,jdbcType=DOUBLE},
      </if>
      <if test="gpsPower != null" >
        gpsPower = #{gpsPower,jdbcType=DOUBLE},
      </if>
      <if test="oilLevel != null" >
        oilLevel = #{oilLevel,jdbcType=DOUBLE},
      </if>
      <if test="lat != null" >
        lat = #{lat,jdbcType=DOUBLE},
      </if>
      <if test="lon != null" >
        lon = #{lon,jdbcType=DOUBLE},
      </if>
      <if test="receiveTime != null" >
        receiveTime = #{receiveTime,jdbcType=VARCHAR},
      </if>
      <if test="receiveLongTime != null" >
        receiveLongTime = #{receiveLongTime,jdbcType=BIGINT},
      </if>
      <if test="companyId != null" >
        companyId = #{companyId,jdbcType=INTEGER},
      </if>
      <if test="nowTime != null" >
        nowTime = #{nowTime,jdbcType=VARCHAR},
      </if>
      <if test="nowLongTime != null" >
        nowLongTime = #{nowLongTime,jdbcType=BIGINT},
      </if>
      <if test="minoilTemp != null" >
        minoilTemp = #{minoilTemp,jdbcType=VARCHAR},
      </if>
      <if test="maxoilTemp != null" >
        maxoilTemp = #{maxoilTemp,jdbcType=VARCHAR},
      </if>
      <if test="minboxHum != null" >
        minboxHum = #{minboxHum,jdbcType=VARCHAR},
      </if>
      <if test="maxboxHum != null" >
        maxboxHum = #{maxboxHum,jdbcType=VARCHAR},
      </if>
      <if test="mintailBoxTemp != null" >
        mintailBoxTemp = #{mintailBoxTemp,jdbcType=VARCHAR},
      </if>
      <if test="maxtailBoxTemp != null" >
        maxtailBoxTemp = #{maxtailBoxTemp,jdbcType=VARCHAR},
      </if>
      <if test="mingpsPower != null" >
        mingpsPower = #{mingpsPower,jdbcType=VARCHAR},
      </if>
      <if test="maxgpsPower != null" >
        maxgpsPower = #{maxgpsPower,jdbcType=VARCHAR},
      </if>
      <if test="minoilLevel != null" >
        minoilLevel = #{minoilLevel,jdbcType=VARCHAR},
      </if>
      <if test="maxoilLevel != null" >
        maxoilLevel = #{maxoilLevel,jdbcType=VARCHAR},
      </if>
      <if test="chillerType != null" >
        chillerType = #{chillerType,jdbcType=VARCHAR},
      </if>
      <if test="backDoorState != null" >
        backDoorState = #{backDoorState,jdbcType=VARCHAR},
      </if>
       <if test="gpsPosition != null" >
        gpsPosition = #{gpsPosition,jdbcType=VARCHAR},
      </if>
      
    </set>
		where id = #{id,jdbcType=VARCHAR}
	</update>
		
			<!-- 
		<if test="backDoorState != null">
				backDoorState = #{backDoorState,jdbcType=VARCHAR},
		</if>
	 
			<if test="deviceId != null">
				deviceId = #{deviceId,jdbcType=VARCHAR},
			</if>
			<if test="gpsBatVol != null">
				gpsBatVol = #{gpsBatVol,jdbcType=DOUBLE},
			</if>
			<if test="refBatVol != null">
				refBatVol = #{refBatVol},
			</if>
			<if test="oilLevel != null">
				oilLevel = #{oilLevel,jdbcType=DOUBLE},
			</if>
			<if test="cenBoxTemp != null">
				cenBoxTemp = #{cenBoxTemp,jdbcType=DOUBLE},
			</if>
			<if test="lat != null">
				lat = #{lat,jdbcType=DOUBLE},
			</if>
			<if test="lon != null">
				lon = #{lon,jdbcType=DOUBLE},
			</if>
			<if test="jzLat != null">
				jzLat = #{jzLat,jdbcType=DOUBLE},
			</if>
			<if test="jzLon != null">
				jzLon = #{jzLon,jdbcType=DOUBLE},
			</if>
			<if test="tankHum">
				tankHum = #{tankHum,jdbcType=DOUBLE},
			</if>
			<if test="railId != null">
				railId = #{railId,jdbcType=VARCHAR},
			</if>
			<if test="railTag != null">
				railTag = #{railTag,jdbcType=VARCHAR},
			</if>
			<if test="railChangeTime != null">
				railChangeTime = #{railChangeTime,jdbcType=VARCHAR},
			</if>
			<if test="refSwiState != null">
				refSwiState = #{refSwiState,jdbcType=VARCHAR},
			</if>
			<if test="refRunMode != null">
				refRunMode = #{refRunMode,jdbcType=VARCHAR},
			</if>
			<if test="tailBoxTemp != null">
				tailBoxTemp = #{tailBoxTemp,jdbcType=DOUBLE},
			</if>
			<if test="enviTemp != null">
				enviTemp = #{enviTemp,jdbcType=DOUBLE},
			</if>
			<if test="backWindTemp != null">
				backWindTemp = #{backWindTemp,jdbcType=DOUBLE},
			</if>
			<if test="chuWindTemp != null">
				chuWindTemp = #{chuWindTemp,jdbcType=DOUBLE},
			</if>
			<if test="gpsTime != null">
				gpsTime = #{gpsTime,jdbcType=VARCHAR},
			</if>
			<if test="gpsLongTime != null">
				gpsLongTime = #{gpsLongTime,jdbcType=BIGINT},
			</if>
			<if test="receiveTime != null">
				receiveTime = #{receiveTime,jdbcType=VARCHAR},
			</if>
			<if test="receiveLongTime != null">
				receiveLongTime = #{receiveLongTime,jdbcType=BIGINT},
			</if>
			<if test="companyId != null">
				companyId = #{companyId},
			</if>-->

	<select id="getOurLastLocationBycontainerId" parameterType="java.lang.String" resultType="com.cctrace.entity.OurCcdata">
		SELECT containerId ,deviceId , lat , lon , receiveTime  FROM ourccdata  WHERE containerId = #{containerId}
		ORDER BY receiveTime DESC LIMIT 0,1
	</select>


	<select id="selectOurRecordsBetweenInTwoTimeBycontainerId"  parameterType="java.util.Map"  resultType="com.cctrace.entity.OurCcdata">
		
		select * from(SELECT c.containerId , c.lat , c.lon , c.nowTime FROM ourccdata c 
		WHERE c.containerId = #{containerId}) c1 where c1.nowTime between #{startDate} and #{endDate} 
	</select>
	
	
	<select id="getOurAllLocationBycompanyId"  parameterType="java.lang.Integer"  resultType="com.cctrace.entity.OurCcdata">
		
		SELECT  deviceId ,containerId ,lat ,lon ,MAX(nowTime) nowTime FROM ourccdata
		WHERE companyId = #{companyId}
		GROUP BY containerId  
	
	</select>
	
	<!-- 查询经纬度是否存在 -->
	<select id="selectOurCcdatasLonAndLat"  parameterType="java.lang.String"  resultType="com.cctrace.entity.OurCcdata">
		SELECT  containerId ,lat ,lon ,nowTime
		FROM ourccdata 
		WHERE containerId  = #{containerId}
	</select>
	<!-- 查询 -->
	<select id="selectOurHardWareBycontainerId"  parameterType="java.lang.String"  resultType="com.cctrace.entity.OurCcdata">
		SELECT containerId FROM ourccdata
		WHERE containerId  = #{containerId}
		GROUP BY containerId
	</select>
	
	<!-- 配置缓存 -->
	<!-- <cache eviction="FIFO" flushInterval="10000" size="128" readOnly="true" /> -->
</mapper>