<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cctrace.dao.YardMapper">
	<resultMap id="BaseResultMap" type="com.cctrace.entity.Yard">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="yardName" jdbcType="VARCHAR" property="yardName" />
		<result column="companyId" jdbcType="INTEGER" property="companyId" />
	</resultMap>

	<sql id="Base_Column_List">
		id, yardName , companyId
	</sql>
	
	<select id="selectYardById" parameterType="java.lang.Integer" resultType="com.cctrace.entity.Yard">
		select <include refid="Base_Column_List"/> from yard where id = #{id}	
	</select>

	<select id="selectAllYardsByCompanyId" parameterType="java.lang.Integer"
		resultType="com.cctrace.entity.Yard">
		SELECT
		<include refid="Base_Column_List" />
		FROM yard
		WHERE companyId = #{companyId}
	</select>
	
	<select id="selectYardByYardNameAndCompanyId" parameterType="java.util.Map" resultType="com.cctrace.entity.Yard">
		SELECT 
		<include refid="Base_Column_List"/>
		FROM yard 
		WHERE yardName = #{yardName} and companyId = #{companyId}
	</select>

	<select id="selectYardByYardName" parameterType="java.lang.String"
		resultType="com.cctrace.entity.Yard">
		SELECT
		<include refid="Base_Column_List" />
		FROM yard WHERE yardName = #{yardName}
	</select>

	<insert id="insertNewYard" parameterType="com.cctrace.entity.Yard">
		INSERT INTO yard
		(yardName , companyId)
		VALUES (#{yardName},#{companyId})
	</insert>

	<update id="updateYardById" parameterType="com.cctrace.entity.Yard">
		UPDATE yard SET
		yardName = #{yardName},
		companyId = #{companyId}
		WHERE 
		id = #{id}	
	</update>

	<delete id="deleteYardByYardName" parameterType="java.lang.String">
		DELETE FROM yard
		WHERE yardName = #{yardName}
	</delete>
	
	<delete id="deleteYardBycompanyIdAndStationName" parameterType="com.cctrace.entity.Yard">
		DELETE FROM yard WHERE
		yardName = #{yardName} AND companyId = #{companyId}
	</delete>
	

	<delete id="deleteYardById" parameterType="java.lang.Integer">
		DELETE FROM yard
		WHERE
		id = #{id}
	</delete>

	<!-- 配置缓存 -->
	<!-- <cache eviction="FIFO" flushInterval="10000" size="128" readOnly="true" /> -->
</mapper>