<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:task="http://www.springframework.org/schema/task"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
    	http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
       	http://www.springframework.org/schema/aop 
    	http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
    	http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd
        http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx.xsd">
	<context:annotation-config/>
	<context:property-placeholder location="classpath:config/jdbc.properties,classpath:config/redis.properties" />
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${jdbc.driver}"></property>
		<property name="url" value="${jdbc.url}"></property>
		<property name="username" value="${jdbc.username}"></property>
		<property name="password" value="${jdbc.password}"></property>
	</bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="configLocation" value="classpath:config/sqlMapConfig.xml" />
	</bean>

	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory"></constructor-arg>
	</bean>
	
	<context:component-scan base-package="com.cctrace.dao" />
	
	
	
	<bean id="daoService" class="com.cctrace.service.impl.DaoServiceImpl">
		<property name="alertMapper" ref="alertMapper"/>
		<property name="bindTableMapper" ref="bindTableMapper"/>
		<property name="logMapper" ref="logMapper"/>
		<property name="containerMapper" ref="containerMapper"/>
		<property name="railMapper" ref="railMapper"/>
		<property name="userMapper" ref="userMapper"/>
		<property name="companyMapper" ref="companyMapper"/>
		
		<property name="yardMapper" ref="yardMapper"/>
		<property name="theNextStationMapper" ref="theNextStationMapper"/>
		<property name="oinfoMapper" ref="oinfoMapper"/>
		<property name="queryVoMapper" ref="queryVoMapper"/>
		<!-- 旧的表 -->
		<property name="ccdataMapper" ref="ccdataMapper"/>
		<property name="ccdataMapper1" ref="ccdataMapper1"/>
		<!-- 新的表 -->
		<property name="ourccdataMapper" ref="ourccdataMapper"/>
		<property name="ourccdataMapper1" ref="ourccdataMapper1"/>
		<property name="lwAlarmMapper" ref="lwAlarmMapper"/>
		<property name="geomessageMapper" ref="geomessageMapper"/>
	</bean>


<!-- 
	<bean id="springFactory" class="com.cctrace.utils.SpringFactory"/>
	 -->
	<!--3.Spring 事务管理  -->
	<bean  id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<!-- 4.开启基于注解的事务 -->
	<tx:annotation-driven  transaction-manager="transactionManager"/>
	<!-- 事务通知 -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<!--<tx:attributes>
			读操作
			<tx:method name="save*" propagation="REQUIRED" isolation="DEFAULT"/>
			<tx:method name="update*" propagation="REQUIRED" isolation="DEFAULT"/>
			<tx:method name="delete*" propagation="REQUIRED" isolation="DEFAULT"/>
			<tx:method name="batch*" propagation="REQUIRED" isolation="DEFAULT"/>
			
			写操作
			<tx:method name="load*" propagation="REQUIRED" isolation="DEFAULT" read-only="true"/>
			<tx:method name="get*" propagation="REQUIRED" isolation="DEFAULT" read-only="true"/>
			<tx:method name="find*" propagation="REQUIRED" isolation="DEFAULT" read-only="true"/>
			
			<tx:method name="*" propagation="REQUIRED" isolation="DEFAULT"/> 
		</tx:attributes> -->
	</tx:advice>
	
	
	<!-- 日志记录仪 -->
	<bean id="logger" class="com.cctrace.advice.logger"></bean>
	
	<!-- aop配置 -->	
	 <aop:config>
		<!--事务切入点通知  -->
		<aop:advisor advice-ref="txAdvice" pointcut="execution(* *..*Service.*(..))"/>
		<!--logger切入点   -->
		<aop:aspect id="loggerAspect" ref="logger"> 
			<aop:before  method="before" pointcut="(execution(* *..*Service.modify*(..))
			or execution(* *..*Service.rem*(..))
			or execution(* *..*Service.reg*(..))
			or execution(* *..*Service.add*(..)))
			or execution(* *..*Service.insertCommand(..)))
			and (!execution(* *..*Service.logOneNewLog(..)))
			and (!execution(* *..*Service.getUserByUsernameAndPassword(..)))
			and (!execution(* *..*Service.modifyUserInfoById(..)))"/>
		</aop:aspect>	
	</aop:config> 
	<import resource="classpath:config/spring-redis.xml"/>
</beans>