<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cctrace.dao.BindTableMapper">
	<resultMap id="BaseResultMap" type="com.cctrace.entity.BindTable">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="operator" jdbcType="VARCHAR" property="operator" />
		<result column="containerId" jdbcType="VARCHAR" property="containerId" />
		<result column="deviceId" jdbcType="VARCHAR" property="deviceId" />
		<result column="routeType" jdbcType="VARCHAR" property="routeType" />
		<result column="trainId" jdbcType="VARCHAR" property="trainId" />
		<result column="bindTime" jdbcType="VARCHAR" property="bindTime" />
		<result column="bindLongTime" jdbcType="BIGINT" property="bindLongTime" />
		<result column="yardId" jdbcType="INTEGER" property="yardId"/>
		<result column="theNextStationId" jdbcType="INTEGER" property="theNextStationId"/>
		<result column="carGoType" jdbcType="VARCHAR" property="carGoType" />
		<result column="companyId" jdbcType="INTEGER" property="companyId" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<result column="buMenM" jdbcType="VARCHAR" property="buMenM" />
	</resultMap>

	<sql id="Base_Column_List">
		id, operator,
		containerId,
		deviceId,
		routeType,
		trainId,
		bindTime,
		bindLongTime,
		yardId,
		theNextStationId,
		carGoType,
		companyId,
		remark,
		buMenM
	</sql>

	<select id="selectAllBindTables" resultType="com.cctrace.entity.BindTable">
		select
		<include refid="Base_Column_List" />
		from bindtable
	</select>

	<select id="selectBindTablesByCompanyId" resultType="com.cctrace.entity.BindTable">
		select
		bindtable.id id, operator,
		containerId,
		deviceId,
		routeType,
		trainId,
		bindTime,
		bindLongTime,
		yardId,
		theNextStationId,
		carGoType,
		bindtable.companyId companyId,
		remark,yardName,thenextstation.stationName theNextStationName
		from bindtable LEFT  JOIN yard on bindtable.yardId = yard.id LEFT  JOIN thenextstation on bindtable.theNextStationId = thenextstation.id
		where bindtable.companyId = #{companyId}
		
	</select>

	<select id="selectBindTableById" parameterType="java.lang.Integer"
		resultType="com.cctrace.entity.BindTable">
		select
		<include refid="Base_Column_List" />
		from bindtable
		where id = #{id}
	</select>

	<select id="selectBindTableByContainerId" resultType="com.cctrace.entity.BindTable">
		select
		<include refid="Base_Column_List" />
		from bindtable
		where containerId = #{containerId}
	</select>

	<delete id="deleteBindTableById" parameterType="java.lang.Integer">
		delete from
		bindtable
		where id = #{id,jdbcType=INTEGER}
	</delete>
	
	<delete id="deleteBindTableByContainerId" parameterType="java.lang.String">
		delete from 
		bindtable
		where containerId = #{containerId,jdbcType=VARCHAR}
	</delete>

	<insert id="insertBindTable" parameterType="com.cctrace.entity.BindTable">
		insert into bindtable
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="operator != null">
				operator,
			</if>
			<if test="containerId != null">
				containerId,
			</if>
			<if test="deviceId != null">
				deviceId,
			</if>
			<if test="routeType != null">
				routeType,
			</if>
			<if test="trainId != null">
				trainId,
			</if>
			<if test="bindTime != null">
				bindTime,
			</if>
			<if test="bindLongTime != null">
				bindLongTime,
			</if>
			<if test="yardId != null">
				yardId,			
			</if>
			<if test="theNextStationId != null">
				theNextStationId,
			</if>
			<if test="carGoType != null">
				carGoType,
			</if>
			<if test="companyId != null">
				companyId,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="buMenM != null">
				buMenM,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="operator != null">
				#{operator,jdbcType=VARCHAR},
			</if>
			<if test="containerId != null">
				#{containerId,jdbcType=VARCHAR},
			</if>
			<if test="deviceId != null">
				#{deviceId,jdbcType=VARCHAR},
			</if>
			<if test="routeType != null">
				#{routeType,jdbcType=VARCHAR},
			</if>
			<if test="trainId != null">
				#{trainId,jdbcType=VARCHAR},
			</if>
			<if test="bindTime != null">
				#{bindTime,jdbcType=VARCHAR},
			</if>
			<if test="bindLongTime != null">
				#{bindLongTime,jdbcType=BIGINT},
			</if>
			<if test="yardId != null">
				#{yardId,jdbcType=INTEGER},
			</if>
			<if test="theNextStationId != null">
				#{theNextStationId,jdbcType=INTEGER},
			</if>
			<if test="carGoType != null">
				#{carGoType,jdbcType=VARCHAR},
			</if>
			<if test="companyId != null">
				#{companyId,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="buMenM != null">
				#{buMenM,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<update id="updateBindTableById" parameterType="com.cctrace.entity.BindTable">
		update bindtable
		<set>
			<if test="operator != null">
				operator = #{operator,jdbcType=VARCHAR},
			</if>
			<!-- 
			<if test="containerId != null">
				containerId = #{containerId,jdbcType=VARCHAR},
			</if>
			-->
			<if test="deviceId != null">
				deviceId = #{deviceId,jdbcType=VARCHAR},
			</if>
			<if test="routeType != null">
				routeType = #{routeType,jdbcType=VARCHAR},
			</if>
			<if test="trainId != null">
				trainId = #{trainId,jdbcType=VARCHAR},
			</if>
			<if test="bindTime != null">
				bindTime = #{bindTime,jdbcType=VARCHAR},
			</if>
			<if test="bindLongTime != null">
				bindLongTime = #{bindLongTime,jdbcType=BIGINT},
			</if>
			<if test="yardId != null">
				yardId = #{yardId,jdbcType=INTEGER},
			</if>
			<if test="theNextStationId != null">
				theNextStationId = #{theNextStationId,jdbcType=INTEGER},
			</if>
			<if test="carGoType != null">
				carGoType = #{carGoType},
			</if>
			<if test="companyId != null">
				companyId = #{companyId,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="buMenM != null">
				buMenM = #{buMenM,jdbcType=VARCHAR},
			</if>
		</set>
		where containerId = #{containerId,jdbcType=VARCHAR}
	</update>

	
	<update id="updateBindTableByYardId" parameterType="java.lang.Integer">
		update bindtable 
		<set>
			yardId = NULL
		</set>
		 WHERE yardId = #{yardId}
	</update>


	<update id="updateBindTableByTheNextStation" parameterType="java.lang.Integer">
		update bindtable 
		<set>
			theNextStationId = NULL
		</set>
		 WHERE theNextStationId = #{theNextStationId}
	</update>

	<select id="selectBindTableByYardId" parameterType="java.lang.Integer"
		resultType="com.cctrace.entity.BindTable">
		select
		*
		from bindtable
		WHERE yardId = #{yardId}
	</select>


	<select id="selectBindTableByTheNextStation" parameterType="java.lang.Integer"
		resultType="com.cctrace.entity.BindTable">
		select
		*
		from bindtable
		WHERE theNextStationId = #{theNextStationId}
	</select>
	
	<!-- 模糊查询 班列模块的冷藏箱查询 -->
	<select id="selectContainersLikey" parameterType="java.lang.String" resultType="com.cctrace.entity.BindTable">
	<!--  
		SELECT containerId,deviceId,trainId,bindTime  FROM bindtable
		WHERE  containerId LIKE CONCAT('%',#{containerId},'%')
		-->
		select
		bindtable.id id, operator,
		containerId,
		deviceId,
		routeType,
		trainId,
		bindTime,
		bindLongTime,
		yardId,
		theNextStationId,
		carGoType,
		bindtable.companyId companyId,
		remark,yardName,thenextstation.stationName theNextStationName
		from bindtable LEFT  JOIN yard on bindtable.yardId = yard.id LEFT  JOIN thenextstation on bindtable.theNextStationId = thenextstation.id
		where bindtable.containerId LIKE CONCAT('%',#{containerId},'%')
	</select>
	<!-- 主页查询备注排序    降序 -->
	<select id="selectBindTableByCompanyAndRemarkDESC" parameterType="java.lang.Integer" resultType="com.cctrace.entity.BindTable">
		select
		<include refid="Base_Column_List" />
		from bindtable
		where companyId = #{companyId,jdbcType=INTEGER} 
		ORDER BY CONVERT(remark  USING gbk ) COLLATE gbk_chinese_ci DESC
	</select>
	<!-- 主页查询备注排序    升序 -->
	<select id="selectBindTableByCompanyAndRemarkASC" parameterType="java.lang.Integer" resultType="com.cctrace.entity.BindTable">
		select
		<include refid="Base_Column_List" />
		from bindtable
		where companyId = #{companyId,jdbcType=INTEGER} 
		ORDER BY CONVERT(remark  USING gbk ) COLLATE gbk_chinese_ci ASC
	</select>
		<!-- 配置缓存 -->
<!-- 	<cache eviction="FIFO" flushInterval="10000" size="128" readOnly="true" /> -->
</mapper>